<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link id="favicon" rel="shortcut icon" type="image/png" href="data:image/png;base64,....==" />
	<title>FreeCycle</title>
	<style>
		
	</style>
	<script src="https://unpkg.com/vue@next"></script><!-- https://v3.vuejs.org/guide/installation.html#cdn -->
	<!-- <script src="vue.js"></script> -->
</head>
<body>
	<h1>FreeCycle your old stuff - keep things out of landfill</h1>

    <h2>
		<ul>
			<li>Help the poor</li>
			<li>Climate crisis</li>
			<li>Right to repair</li>
		</ul>
    </h2>

	<div id="server">
		<h2>Create</h2>
		<form @submit.prevent="addItem">
			<input v-model="newItem.user_id" name="user_id" placeholder="user_id">
			<input v-model="newItem.lat" name="lat" placeholder="lat">
			<input v-model="newItem.lon" name="lon" placeholder="lon">
			<input v-model="newItem.image" name="image" placeholder="image">
			<input v-model="keywordsInput" name="keywords" placeholder="keywords">
			<textarea v-model="newItem.description" name="description" placeholder="description"></textarea>
			<button data-action="create_item">Create Item</button>
		  </form>

		<h2>Items</h2>
		<ul>
			<li v-for="item in items">
				<span data-field="user_id">{{item.user_id}}</span>
				<span data-field="lat">{{item.lat}}</span>
				<span data-field="lon">{{item.lon}}</span>
				<span data-field="keywords">{{item.keywords}}</span>
				<span data-field="image">{{item.image}}</span>
				<span data-field="description">{{item.description}}</span>
				<button data-action="delete_item" @click="deleteItem(item.id)">Delete</button>
			</li>
		</ul>
	</div>

	<script type="module">
		const urlAPI = '';
	  
		const RootComponent = {
		  data() {
			return {
			  newItem: {
				user_id: '',
				keywords: [],
				description: '',
				image: '',
				lat: '',
				lon: ''
			  },
			  items: [],
			  keywordsInput: ''
			};
		  },
		  created() {
			this.clearInput();
			this.updateItems();
		  },
		  methods: {
			updateItems() {
			  fetch(`${urlAPI}/items`, {
				method: 'GET',
			  })
				.then((response) => response.json())
				.then((json) => {
				  this.items = json;
				})
				.catch((err) => console.error(err));
			},
			clearInput() {
			  this.newItem = {
				user_id: '',
				keywords: [],
				description: '',
				image: '',
				lat: '',
				lon: ''
			  };
			},
			addItem() {
			  const keywordsArray = this.keywordsInput.split(',');
			  this.newItem.keywords = keywordsArray;

			  // Convert lat and lon to numbers
			  this.newItem.lat = parseFloat(this.newItem.lat);
			  this.newItem.lon = parseFloat(this.newItem.lon);
	  
			  // Omitting the id, date_from, and date_to fields
			  const { id, date_from, date_to, ...dataToSend } = this.newItem;
	  
			  fetch(`${urlAPI}/item`, {
				method: 'POST',
				headers: { 'Content-Type': 'application/json' },
				body: JSON.stringify(dataToSend),
			  })
				.then(() => this.clearInput())
				.then(() => this.keywordsInput = '')
				.then(() => this.updateItems())
				.catch((err) => console.error(err));
			},
			deleteItem(itemId) {
			  fetch(`${urlAPI}/item/${itemId}`, {
				method: 'DELETE',
			  })
				.then(() => this.updateItems())
				.catch((err) => console.error(err));
			},
		  },
		};
		const app = Vue.createApp(RootComponent);
		const vm = app.mount('#server');
	  </script>	  

</body>
</html>